html {
  margin: 0;
}

body {
  margin: auto;
  background-color: blue;
}
.container {
  margin: auto;
  background-color: blue;
  padding: 1em;
  float: center;
}

.row {
  background-color: blue;
}

.row .col-md-1 {
  background-color: magenta;
  width: ;
  height: 100%;
  padding: 40px;
  
}
